* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
}

#quote-box {
  margin: auto auto;
  position: relative;
  background-color: rebeccapurple;
  /* display: flex; */
  max-width: 80vw;
}

#quote-box .quote-text {
  text-align: center;
}

#quote-box .quote-author {
  text-align: right;
}
